// Media start

@media screen and (max-width: 960px) {
  .search__form__field {
    margin-bottom: 25px;
  }
  .benefits {
    margin-bottom: 75px;
  }
  .benefits__wrap {
    box-shadow: none;
  }
  .benefits__cards {
    padding: 0 15px;
    grid-column-gap: 25px;
  }
  .benefits__card {
    margin-bottom: 60px;
  }
  .benefits__title {
    padding: 55px 15px;
  }
  .places__card__size__lg {
    grid-column: span 6;
  }
  .places__card__size__sm {
    grid-column: span 6;
  }
  .tours__tour {
    grid-column-gap: 35px;
  }
  .tour__thumb {
    width: 100%;
  }
  .tour__info {
    padding-left: 0;
  }
  .tour__title {
    margin-bottom: 35px;
  }
  .tour__desc {
    margin-bottom: 15px;
  }
  .top__cards {
    grid-column-gap: 25px;
    grid-row-gap: 55px;
  }
  .top__card {
    grid-column: span 3;
  }
  .top__card__pic {
    margin-bottom: 25px;
  }
  .footer {
    padding: 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .header__wrapper {
    padding-top: 28px;
    .header__burger {
      display: block !important;
    }
  }
  .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
  }
  .header__nav__active {
    transform: translateX(0);
    transition: 0.2s all linear;
  }
  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    .header__link {
      font-size: 42px;
      line-height: 48px;
    }
  }
  .header__nav__close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
    .header__nav__clode__line {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      &:first-child {
        transform: translateY(-50%) rotate(45deg);
      }
      &:last-child {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
  .intro {
    padding-top: 120px;
    h1 {
      font-size: 32px;
      line-height: 48px;
    }
  }
  .intro__subtitle {
    font-size: 14px;
  }
  .search__form__field {
    margin-right: 0;
    width: 100%;
    padding-bottom: 12px;
    background: transparent url(../img/circle-icon.svg) no-repeat left 2px !important;
    &::placeholder {
      font-size: 16px;
    }
  }
  .search__form__submit {
    width: 100%;
  }
  .benefits {
    margin-bottom: 36px;
  }
  .benefits__card {
    grid-column: span 3;
    margin-bottom: 40px;
  }
  .benefits__card_pic {
    margin-bottom: 20px;
    h3 {
      margin-bottom: 12px;
    }
    p {
      margin-bottom: 20px;
    }
  }
  .places {
    margin-bottom: 76px;
    a {
      margin-bottom: 25px;
    }
    .places__caption {
      margin-bottom: 0;
    }
    .section__title {
      margin-bottom: 25px;
      &::after {
        width: 78px;
      }
    }
  }
  .places__card__pic__size__lg {
    height: 230px;
  }
  .places__card__pic__size__sm {
    height: 230px;
  }
  .tour__pic,
  .tour__info {
    grid-column: span 2;
  }
  .tour__pic {
    margin-bottom: 12px;
  }
  .tour__pic__mob__first {
    grid-row-start: -1;
  }
  .tours {
    margin-bottom: 76px;
  }
  .tours__tour {
    margin-bottom: 50px;
  }
  .top {
    margin-bottom: 76px;
  }
  .top__card__stats {
    max-width: 386px;
  }
  .top__card {
    grid-column: span 6;
    .top__card__desc {
      margin-bottom: 15px;
    }
  }
  .footer__logo {
    width: 100%;
    margin-bottom: 24px;
  }
  .footer__nav {
    width: 100%;
  }
  .footer__menu {
    width: 50%;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 500px) {
  .benefits .benefits__wrap .benefits__cards {
    padding: 0;
  }

  .places .places__card .places__card__title {
    font-size: 25px;
  }

  .top .wrapper__full .top__cards {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .top .top__card__stats .top__card__likes,
  .top__card__comments {
    display: none;
  }
  .top .top__card .top__card__pic .top__card__stats {
    padding: 3px;
  }
  .top .top__card__stats .top__card__title {
    font-size: 16px;
  }
  .footer {
    .footer__item {
      flex-direction: column;
      .footer__logo {
        margin: 0 auto;
      }
      .footer__nav {
        margin: 40px 0 0 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0 0 30px;
      }
    }
  }
}

// Media end
